name: cloud_firestore
description:
  Flutter plugin for Cloud Firestore, a cloud-hosted, noSQL database with
  live synchronization and offline support on Android and iOS.
homepage: https://firebase.google.com/docs/firestore
repository: https://github.com/firebase/flutterfire/tree/main/packages/cloud_firestore/cloud_firestore
version: 6.1.0-a
topics:
  - firebase
  - firestore
  - realtime
  - database

false_secrets:
  - example/**
  - dartpad/**

environment:
  sdk: '>=3.2.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  cloud_firestore_platform_interface:
#    path: ../cloud_firestore_platform_interface
    git:
      url: https://github.com/SwineTech-Inc/flutterfire.git
      path: packages/cloud_firestore/cloud_firestore_platform_interface
      ref: SwineTech/bom_4.5.0

  cloud_firestore_web:
#      path: ../cloud_firestore_web
      git:
        url: https://github.com/SwineTech-Inc/flutterfire.git
        path: packages/cloud_firestore/cloud_firestore_web
        ref: SwineTech/bom_4.5.0
  collection: ^1.0.0
  firebase_core:
#    path: ../../firebase_core/firebase_core
    git:
      url: https://github.com/SwineTech-Inc/flutterfire.git
      path: packages/firebase_core/firebase_core
      ref: SwineTech/bom_4.5.0
  firebase_core_platform_interface:
#    path: ../../firebase_core/firebase_core_platform_interface
    git:
      url: https://github.com/SwineTech-Inc/flutterfire.git
      path: packages/firebase_core/firebase_core_platform_interface
      ref: SwineTech/bom_4.5.0
  flutter:
    sdk: flutter
  meta: ^1.8.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: io.flutter.plugins.firebase.firestore
        pluginClass: FlutterFirebaseFirestorePlugin
      ios:
        pluginClass: FLTFirebaseFirestorePlugin
      macos:
        pluginClass: FLTFirebaseFirestorePlugin
      web:
        default_package: cloud_firestore_web
      windows:
        pluginClass: CloudFirestorePluginCApi

