name: firebase_messaging
description: Flutter plugin for Firebase Cloud Messaging, a cross-platform
  messaging solution that lets you reliably deliver messages on Android and iOS.
homepage: https://firebase.google.com/docs/cloud-messaging
repository: https://github.com/firebase/flutterfire/tree/main/packages/firebase_messaging/firebase_messaging
version: 16.1.1-a
topics:
  - firebase
  - messaging
  - notifications

false_secrets:
  - example/**

environment:
  sdk: '>=3.2.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  firebase_core:
#    path: ../../firebase_core/firebase_core
    git:
      url: https://github.com/SwineTech-Inc/flutterfire.git
      path: packages/firebase_core/firebase_core
      ref: SwineTech/bom_4.8.0

  firebase_core_platform_interface:
#    path: ../../firebase_core/firebase_core_platform_interface
    git:
      url: https://github.com/SwineTech-Inc/flutterfire.git
      path: packages/firebase_core/firebase_core_platform_interface
      ref: SwineTech/bom_4.8.0

  firebase_messaging_platform_interface:
#    path: ../firebase_messaging_platform_interface
    git:
      url: https://github.com/SwineTech-Inc/flutterfire.git
      path: packages/firebase_messaging/firebase_messaging_platform_interface
      ref: SwineTech/bom_4.8.0

  firebase_messaging_web:
#    path: ../firebase_messaging_web
    git:
      url: https://github.com/SwineTech-Inc/flutterfire.git
      path: packages/firebase_messaging/firebase_messaging_web
      ref: SwineTech/bom_4.8.0

  flutter:
    sdk: flutter
  meta: ^1.8.0

dev_dependencies:
  async: ^2.5.0
  flutter_test:
    sdk: flutter
  mockito: ^5.0.0
  plugin_platform_interface: ^2.1.3

flutter:
  plugin:
    platforms:
      android:
        package: io.flutter.plugins.firebase.messaging
        pluginClass: FlutterFirebaseMessagingPlugin
      ios:
        pluginClass: FLTFirebaseMessagingPlugin
      macos:
        pluginClass: FLTFirebaseMessagingPlugin
      web:
        default_package: firebase_messaging_web
