name: firebase_auth
description: Flutter plugin for Firebase Auth, enabling
  authentication using passwords, phone numbers and identity providers
  like Google, Facebook and Twitter.
homepage: https://firebase.google.com/docs/auth
repository: https://github.com/firebase/flutterfire/tree/main/packages/firebase_auth/firebase_auth
version: 6.1.2-a
topics:
  - firebase
  - authentication
  - identity
  - sign-in
  - sign-up

false_secrets:
  - example/**

environment:
  sdk: '>=3.2.0 <4.0.0'
  flutter: '>=3.16.0'

dependencies:
  firebase_auth_platform_interface:
    #        path: ../firebase_auth_platform_interface
    git:
      url: https://github.com/SwineTech-Inc/flutterfire.git
      path: packages/firebase_auth/firebase_auth_platform_interface
      ref: SwineTech/bom_4.5.0

    firebase_auth_web:
      #        path: ../firebase_auth_web
      git:
        url: https://github.com/SwineTech-Inc/flutterfire.git
        path: packages/firebase_auth/firebase_auth_web
        ref: SwineTech/bom_4.5.0

    firebase_core:
      #        path: ../../firebase_core/firebase_core
      git:
        url: https://github.com/SwineTech-Inc/flutterfire.git
        path: packages/firebase_core/firebase_core
        ref: SwineTech/bom_4.5.0

    firebase_core_platform_interface:
      #        path: ../../firebase_core/firebase_core_platform_interface
      git:
        url: https://github.com/SwineTech-Inc/flutterfire.git
        path: packages/firebase_core/firebase_core_platform_interface
        ref: SwineTech/bom_4.5.0
  flutter:
    sdk: flutter
  meta: ^1.8.0
dev_dependencies:
  async: ^2.5.0
  flutter_test:
    sdk: flutter
  mockito: ^5.0.0
  plugin_platform_interface: ^2.1.3

flutter:
  plugin:
    platforms:
      android:
        package: io.flutter.plugins.firebase.auth
        pluginClass: FlutterFirebaseAuthPlugin
      ios:
        pluginClass: FLTFirebaseAuthPlugin
      macos:
        pluginClass: FLTFirebaseAuthPlugin
      web:
        default_package: firebase_auth_web
      windows:
        pluginClass: FirebaseAuthPluginCApi

